.topContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 80px;
}

.noProjects, .projectsTitle {
    color: white;
}

.searchInput{
    margin: 0px 0px 20px 0px
}

.formLabel{
    color: white
}

.projectDropDown{
     width: 200px;
    display: block
}