.board {
    padding: 20px !important;
    min-height: 600px !important;
    width: fit-content;
    background: white !important;
    border-radius: 4px;
}

.formInput{
    margin-bottom: 20px;
}

.formLabel {
    color: white
}

.dropDown{
    width: 200px;
    display: block
}