.projectName {
    margin-top: 40px;
    margin-bottom: 20px;
    color: white;
}

.projectDescription {
    margin-bottom: 50px;
    color: white;
}

.nameInput{
    width: 300px;
    font-size: '2.5rem';
    margin-top: '40px';
    margin-bottom: '10px';
    display: 'block'
}